.marking-menu(style={ left: `${center[0]}px`, top: `${center[1]}px` })
	each item in items
    .marking-menu-item(data-item-id=item.id data-item-angle=item.angle)
			svg.marking-menu-slice(style={'--rotate': `${item.angle - item.width / 2}deg`})
				circle
      .marking-menu-label(style={'--top': `${(Math.sin(item.angle * Math.PI / 180) * (7.5 + 1.5)) -1.5}rem`, '--left': `${(Math.cos(item.angle * Math.PI / 180) * (7.5 + 5)) -5}rem`})=item.name
